{
    "env": {
        "build": {
            "presets": [
              "env",
              "react",
              "stage-0"
            ],
            "plugins": [
              "add-module-exports",
              ["transform-runtime", {
                "moduleName": "reshow-runtime",
                "polyfill": false,
                "regenerator": false
                }
              ],
              "transform-react-constant-elements",
              "transform-object-assign"
            ]
        },
        "es": {
            "presets": [
              [
                  "env", 
                  {
                        "loose": true, 
                        "modules": false
                  },
              ],
              "react",
              "stage-0"
            ],
            "plugins": [
              ["transform-runtime", {
                "moduleName": "reshow-runtime/es",
                "polyfill": false,
                "regenerator": false
                }
              ],
              "transform-object-assign",
              "transform-react-pure-class-to-function",
              "transform-react-constant-elements"
            ]
        }
    }
}
